nav{
  font-family: 'Lora', sans-serif;

}
.slider{
  background: url(./assets/images/image3.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 255px;
  padding-top: 180px;
}
.slider .block h2 {
  color: #BB9F06;
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  margin:0px;
  font-size: 36px
}
.sub_slider_text{
  margin: 0px;
  font-size: 36px;
  color:#757575;
  font-family: 'Lora', sans-serif;
  font-weight: 300;
  line-height: 43px;
}
.slider_p {
  margin: 0px;
  color:#2E7D32;
  font-size: 1.1rem;
  padding-top: 4%;
  line-height: 2rem;
}
.edit_button_1{background: none; border: 3px solid #91B1B5;  color: #green darken-3; font-family: 'Lora', sans-serif; font-weight: 700; border-radius: 30px;padding: 10px 52px; display: block; overflow: heidden; margin-top: 50px}
.edit_button_1:hover{background: none; color: #2e7d32; border: 3px solid #91B1B5;}

/* Promise */
.testimonial {
  text-align: center;
  /* padding-bottom: 110px;
  padding-top: 100px; */
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(46, 125, 50,.9);
  font-family: 'Lora', sans-serif;
}
.testimonial .block{
  position: relative;
  padding: 3rem;
  margin: .5rem;
  background-color: rgba(225,210,60,.83);
  border-radius: .5rem;
  border: .25rem solid hsla(0,0%,100%,.85);
  line-height: 1.75;
  text-align: center;
  color: #fff;
}
.tm-header h2{font-size: 36px;font-family: 'Lora', sans-serif; font-weight: 700;color:#636C6C; margin: 0px; padding-bottom: 38px}
.tm-text p{color:#8C9494; font-family: 'Droid Serif', serif; font-weight:400; font-style: italic; font-size: 24px; line-height: 24px;margin: 0;padding-bottom: 40px;padding-top: 45px;}
.tm-text p span{font-style: normal; display: block; color: #5DCA88;font-family: 'Raleway', sans-serif; font-weight: 400; padding-top: 28px }
#testimonial .owl-carousel .owl-controls .owl-pagination{text-align: center}
#testimonial .owl-carousel .owl-controls .owl-pagination div{background:#8c9494;
border-radius: 500px;
display: inline-block;
height: 11px;
margin: 0 5px;
width: 11px;}
#testimonial .owl-carousel .owl-controls .owl-pagination  div.active{background: #5DCA88}
